<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anchor</title>
  <link rel="stylesheet" href="/css/anchor.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gasoek+One&family=Jua&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</head>

<body>
  <!-- HEADER -->
  <div class="header">
    <div class="icon24 ico_menu" onclick="toggleMenu()"></div>
    <div class="search">
      <div class="icon24 ico_glass"></div>
      <form action="/search" method="POST">
        <input name="channelTitle" id="txt_name_target" type="text" placeholder="Search..."
          onkeydown="if(event.key === 'Enter') searchFunction();" />
      </form>
    </div>
    <div class="credit">
      <div class="icon24 ico_credit"></div>
      <div class="txt_credit">999+</div>
    </div>
  </div>

  <!-- CARDBOX -->
  <div class="cardbox">
    <!-- CHANNEL CARD -->
    <div class="channel card">
      <div class="channel-image" id="url_thumbnail_channel"></div>
      <div class="channel-info">
        <div class="channel-name" id="txt_name_channel"></div>
        <div class="channel-link" id="txt_link_channel"></div>
        <table class="tbl_info-native">
          <tr>
            <th>채널 개설일</th>
            <td id="ymd_creation_channel"></td>
          </tr>
          <tr>
            <th>구독자 수</th>
            <td id="txt_subscriber"></td>
          </tr>
          <tr>
            <th>콘텐츠 수</th>
            <td id="num_content"></td>
          </tr>
        </table>
        <table class="tbl_info-anchor">
          <tr>
            <th>최초 발견 일자</th>
            <td id="ymd_found_first">2999.99.99</td>
          </tr>
          <tr>
            <th>마지막 발견</th>
            <td id="txt_found_last">9시간 9분 전</td>
          </tr>
          <tr>
            <th>ANCHOR</th>
            <td id="num_anchorer">9</td>
          </tr>
        </table>
      </div>

    </div>

    <!-- CARD DECK -->
    <div class="deck">
      <div class="card">
        <div id="wordCloud"></div>
      </div>
      <div class="card">
        <table id="rankChart">
          <thead>
            <th colspan="3">
              랭킹
            </th>
          </thead>
          <tbody>
            <!-- 동적 삽입 -->
          </tbody>
        </table>
      </div>
      <div class="card">
        <table>
          <tr>
            <td>
              <canvas id="pieChart" width="200" height="200"></canvas>
            </td>
            <td>
              <div id="pieLegend" class="pie_legend"></div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div th:text="${pieChart.sentiment}"></div>
            </td>
          </tr>
        </table>
      </div>
      <div class="card"></div>
    </div>

    <!-- COMMUNITY -->
    <div class="community">
    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer">
  </div>

  <!--FDEF : SEARCH-->
  <script>
    function searchFunction() {
      const query = document.getElementById("txt_name_target").value;
      // 검색 기능 로직 추가 (예: API 호출 또는 검색 페이지로 이동)
      console.log("검색어:", query); // 검색어 출력 (테스트용)
      // 예: 검색 페이지로 이동
      //window.location.href = '/search';
    }
  </script>

  <!--FDEF : ChannelCard-->
  <script>
    function drawChannelCard(_channel) {
      let temp;

      temp = document.getElementById('txt_name_channel');
      temp.innerText = _channel.channelTitle;

      temp = document.getElementById('txt_link_channel');
      temp.innerText = _channel.channelUrl;

      temp = document.getElementById('ymd_creation_channel');
      temp.innerText = _channel.createdAt;

      temp = document.getElementById('txt_subscriber');
      temp.innerText = _channel.subscriberCount;

      temp = document.getElementById('num_content');
      temp.innerText = _channel.contentNum;

      temp = document.getElementById('url_thumbnail_channel');
      temp.style.backgroundImage = `url('${_channel.channelThumbnail}')`;
      temp.style.backgroundSize = "cover"; // 이미지가 요소를 채우도록 설정
      temp.style.backgroundPosition = "center"; // 이미지 가운데 정렬

      temp = document.getElementById('ymd_found_first');
      temp.innerText = _channel.createdAtDB;

      temp = document.getElementById('txt_found_last');
      temp.innerText = _channel.updatedAt;

      temp = document.getElementById('num_anchorer');
      temp.innerText = _channel.anchorNum;

    }
  </script>

  <!--WORDCLOUD-->
  <script>
    function drawWordCloud(data, labels) {
      // 워드클라우드 모듈불러오기
      zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';

      //워드클라우드 환경설정

      var wordset = [];
      for (var i = 0; i < data.length; i++) {
        wordset.push({ text: labels[i], count: data[i] });
      }

      var myConfig = {
        words: wordset,
        type: 'wordcloud',
        options: {
          words: wordset,
          minLength: 5,
          ignore: [""],
          maxItems: 100,
          aspect: 'spiral', // 'flow-top' | 'flow-center'

          colorType: 'palette',
          palette: ['#D32F2F', '#5D4037', '#1976D2', '#E53935', '#6D4C41', '#1E88E5', '#F44336', '#795548', '#2196F3', '#EF5350', '#8D6E63', '#42A5F5'],

          style: {
            fontFamily: 'Crete Round',

            hoverState: {
              backgroundColor: '#D32F2F',
              borderRadius: 2,
              fontColor: 'white'
            },
            tooltip: {
              text: '%text: %hits',
              visible: true,
              alpha: 0.9,
              backgroundColor: '#1976D2',
              borderRadius: 2,
              borderColor: 'none',
              fontColor: 'white',
              fontFamily: 'Georgia',
              textAlpha: 1
            }
          }
        },

        source: {
          //text: '--President Barack Obama<br> Selma 50th anniversary speech<br>March 7, 2015',
          //Source: https://obamawhitehouse.archives.gov/the-press-office/2015/03/07/remarks-president-50th-anniversary-selma-montgomery-marches
          fontColor: '#64B5F6',
          fontSize: 10,
          fontFamily: 'Georgia',
          fontWeight: 'normal',
          marginBottom: '10%'
        }
      };

      //워드클라우드 렌더링
      zingchart.render({
        id: 'wordCloud',
        data: myConfig,
        height: '100%',
        width: '100%'
      });
    }
  </script>

  <!--RANK-->
  <script>
    function drawRankChart(data, labels) {
      // 테이블 요소 선택
      tableBody = document.getElementById('rankChart').querySelector('tbody');

      // 데이터로 테이블 행 생성
      let index = 0;
      labels.forEach(() => {
        row = document.createElement('tr');

        row.innerHTML = `
                  <td>${index + 1}</td>
                  <td>${labels[index]}</td>
                  <td>${'+' + data[index]}</td>
              `;

        tableBody.appendChild(row);
        index++;
      });
    }
  </script>

  <!--PIECHART-->
  <script>
    function drawPieChart(data, labels) {
      const canvas = document.getElementById("pieChart");
      const ctx = canvas.getContext("2d");

      const colors = [
        "#FF6384",
        "#36A2EB",
        "#FFCE56",
        "#4BC0C0",
        "#9966FF",
        "#FF9F40",
        "#3DC17C",
        "#FF6699"
      ];
      const total = data.reduce((sum, value) => sum + value,
        0);

      let startAngle = 0;

      // 파이 차트 그리기
      data.forEach((value, index) => {
        const sliceAngle = (value / total) * 2 * Math.PI;

        // 파이 조각 채우기
        ctx.beginPath();
        ctx.moveTo(canvas.width / 2, canvas.height / 2);
        ctx.arc(canvas.width / 2, canvas.height / 2, canvas.width / 2, startAngle, startAngle + sliceAngle);
        ctx.closePath();
        ctx.fillStyle = colors[index
        ];
        ctx.fill();

        startAngle += sliceAngle;
      });

      // 범례 추가
      const legendContainer = document.getElementById("pieLegend");
      legendContainer.innerHTML = ""; // 기존 범례 초기화

      labels.forEach((label, index) => {
        const legendItem = document.createElement("div");
        legendItem.classList.add("pie_legend-item");

        const colorBox = document.createElement("span");
        colorBox.classList.add("pie_legend-color");
        colorBox.style.backgroundColor = colors[index
        ];

        const legendText = document.createElement("span");
        legendText.innerText = label;

        legendItem.appendChild(colorBox);
        legendItem.appendChild(legendText);
        legendContainer.appendChild(legendItem);
      });
    }
  </script>

  <!--CONST : DEFAULT-->
  <script>
    const defaultData = [
      10,
      20,
      30,
      25,
      15
    ];
    const defaultLabels = [
      "Red",
      "Blue",
      "Yellow",
      "Green",
      "Purple"
    ];
  </script>

  <!--MAIN-->
  <script th:inline="javascript">
    // DTO 받기
    let dto_channel = [[${ channel }]];

    let dto_cloud = [[${ wordCloud }]];
    let dto_rank = [[${ rankingChart }]];
    let dto_pie = [[${ pieChart }]];


    // 페이지 로드 시 차트 그리기
    window.onload = function () {
      drawChannelCard(dto_channel);

      //drawWordCloud(defaultData, defaultLabels);
      //drawRankChart(defaultData, defaultLabels);
      //drawPieChart(defaultData, defaultLabels);

      drawWordCloud(dto_cloud.foundList, dto_cloud.keyList);
      drawRankChart(dto_rank.foundList, dto_rank.keyList);
      drawPieChart(dto_pie.foundList, dto_pie.keyList);
    }
  </script>
</body>

</html>